@import url('variable.css');
@import url('reset.css');
@import url('layout.css');
@import url('component.css');
:root:has(#red:checked) {
    --primary-color: hsl(0, 84%, 48%);
}
:root:has(#blue:checked) {
    --primary-color: hsl(200, 84%, 48%);
}
:root:has(#green:checked) {
    --primary-color: hsl(120, 84%, 48%);
}
body {
    overflow-x: hidden;
    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: hsl(from var(--primary-color-900) h s l / 0.9);
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms ease-in-out, z-index 0ms 300ms linear;
    }
    &:has([selected], [opened]) {
        &::before {
            transition: opacity 300ms ease-in-out;
            opacity: 1;
            z-index: 3;
        }
    }
}
h1 {
    color: var(--primary-color-900);
}
* {
    /* background-color: hsl(0 0 0 / 0.3); */
}
main {
    overflow: hidden;
}
footer {
    background-color: lightgray;
}
.d-flex-between {
    display: flex;
    justify-content: space-between;
    gap: 0.2em;
    flex-wrap: wrap;
}
header {
    position: relative;
    overflow: hidden;
    font-size: var(--fs-400);
    & > .main-navigation {
        & .d-flex-between {
            & > * {
                /* display: block; */
                width: 15ch;
            }
            --base-min-col-size: 20ch;
        }
    }
    &:has([opened]) {
        overflow: visible;
    }
    .shopping {
        width: 15ch;
        &[opened] {
            overflow: visible;
            z-index: 10;
            & .shopping-cart {
                translate: 0;
            }
        }
        & #shopping-icon {
            width: 100%;
            align-self: flex-end;
            &::before {
                font-size: var(--fs-500);
            }
            &::after {
                font-size: var(--fs-300);
                color: var(--primary-color-900);
                background-color: var(--primary-color-200);
                border-radius: 100vmax;
                height: 1em;
                padding: 0.2em;
                aspect-ratio: 1;
                content: attr(nb-cart);
                position: relative;
                text-align: center;
                bottom: -0.1em;
            }
        }
        #shopping-cart {
            width: max-content;
            display: grid;
            grid-template-columns: repeat(4, auto);
            & > div {
                & > .name {
                    text-align: end;
                }
                &:nth-child(odd) {
                    background-color: hsl(from var(--primary-color) h s 80);
                }
                &:nth-child(even) {
                    background-color: hsl(from var(--primary-color) h s 90);
                }
            }
        }
        .shopping-cart {
            --_timing: 300ms;
            transition: grid-template-rows var(--_timing) linear, transform var(--_timing) linear,
                translate var(--_timing) linear;
            position: absolute;
            overflow: hidden;
            top: 100%;
            right: 0;
            margin-top: 0.5em;
            translate: 100%;
            & :is(.product-cart, .total-price) {
                grid-column: span 4;
                display: grid;
                gap: 0.5em;
                grid-template-columns: subgrid;
                place-content: center;
                padding: 0.1em 0.2em;
                & > button {
                    place-content: center;
                    height: fit-content;
                    font-size: var(--fs-300);
                }
            }
            & .total-price {
                grid-column: span 4;
                text-align: end;
                & > *:last-child {
                    grid-column: span 3;
                }
            }
        }
    }
    & #shopping-form {
        padding: 0.2em;
        display: grid;
        background-color: hsl(from var(--primary-color) h s 90);
    }
    & .color-theme {
        position: absolute;
        height: 2em;
        top: 0;
        left: 50%;
        translate: -50% -70%;
        width: max-content;
        padding: 0.2em;
        display: flex;
        gap: 1em;
        padding-bottom: 1em;
        background-color: hsl(from var(--primary-color) h s 90);
        &:hover {
        }
    }
}
.products-grid {
    --base-min-col-size: 20ch;
    gap: 0.3em;
    &:has([selected]) > :not([selected]) {
        pointer-events: none;
    }
    & > .card {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 8ch;
        overflow: hidden;
        background-color: var(--primary-color-100);
        & > img {
            grid-column: span 2;
            width: 100%;
            aspect-ratio: 1.6;
            object-fit: cover;
        }
        & > .card-title {
            grid-column: span 2;
        }
        & > .card-price {
            font-size: var(--fs-300);
            grid-column: -2;
        }
        & .details {
            position: fixed;
            inset: 0;
            z-index: 10;
            opacity: 0;
            scale: 0;
            transition: scale 0ms 300ms, opacity linear 300ms;
            overflow-y: scroll;
            &::before {
                content: '';
                /* position: absolute;
                inset: 0; */
            }
            & > div {
                position: absolute;
                top: 50px;
                left: 50%;
                translate: -50%;
                display: grid;
                grid-template-rows: auto 1fr auto;
                --gap: clamp(0.3rem, 2vw, 3rem);
                row-gap: 0.4em;
                width: min(600px, calc(100% - 1em));
                margin-inline: auto;
                padding-bottom: 1em;
                background-color: hsl(from var(--primary-color) h s 95);
                & > .detail-title {
                    display: flex;
                    justify-content: space-between;
                    padding-inline: 0.2em;
                }
                & > img {
                    /* max-height: 20svh; */
                    width: 100%;
                    aspect-ratio: 21/9;
                    object-fit: cover;
                }
                & > .detail-attribut {
                    row-gap: 0;
                    & > li {
                        & > :first-child {
                            grid-column: content / middle;
                        }
                        & > :last-child {
                            grid-column: middle / content;
                        }
                        &:nth-child(odd) {
                            background-color: hsl(from var(--primary-color) h s 80);
                        }
                        &:nth-child(even) {
                            background-color: hsl(from var(--primary-color) h s 90);
                        }
                    }
                }
            }
        }
        &[selected] {
            /* z-index: 10;  */
            .details {
                opacity: 1;
                scale: 1;
                transition: scale linear 0ms, opacity ease-in-out 300ms;
            }
        }
    }
}
div:has(> #search) {
    position: relative;
    &::after {
        content: '';
        background-color: var(--primary-color-800);
        -webkit-mask-image: url('./../assets/svg/search.svg');
        mask-image: url('./../assets/svg/search.svg');
        fill: var(--primary-color);
        height: 60%;
        aspect-ratio: 1;
        position: absolute;
        pointer-events: none;
        top: 50%;
        translate: -120% -50%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #search-form {
        display: none;
    }
}
